<!DOCTYPE html>
<html>

<head>

<title>Dashboard</title>

<link rel="stylesheet" href="/static/css/style.css">

</head>

<body>

<div class="app">

<div class="sidebar">

<h2>LifeOS</h2>

<a href="/dashboard">Dashboard</a>
<a href="/tasks">Tasks</a>
<a href="/notes">Notes</a>
<a href="/logout">Logout</a>

</div>


<div class="main">

<h1>Dashboard</h1>

<div class="cards">

<div class="card">

<h3>Total Tasks</h3>

<p>{{ tasks|length }}</p>

</div>

<div class="card">

<h3>Notes</h3>

<p>{{ notes|length }}</p>

</div>

</div>

</div>

</div>

</body>

</html>